*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}

nav{
    height: 5.3rem !important;
    box-shadow: none !important;
}

.brand-logo{
    right: 79rem !important;   
}

.brand-logo img{
   width: 110px;
   height: 60px;
   margin-top: 1.5rem;
   position: relative;
   right: 1rem;
}

.right{
    position: relative !important;
    left: 14rem !important;
    bottom: 3.5rem;
}

li a i{
    color: black;
}

.bar{
    display: flex;
    margin-right: 70px;
    
}

input{
    width: 44rem !important;
    border: 1px solid whitesmoke !important;
    margin: 18px 90px 0px 0px !important ;
    padding-left: 10px !important;
    border-radius: 50px !important;
    box-shadow:0px 2px 4px #E4E4E4 !important; 
    position: relative;
    right: 11rem;
    top: 0.4rem;
}

input:hover{
     box-shadow:0px 1px 4px #413f3f !important; 
}

.bar img{
    position: relative;
    left: 33rem;
    top: 36px;
    padding-left: 5px;
}

.bar a i{
    color: black;
    position: relative;
    left: 33rem;
    top: 1.1rem;
   
}

#option{ 
     padding: 8px;
     width: auto;
}

.options{
    width: 50%;
    margin-left: 13rem;
}

.options a{
    float: left;
    padding-top: 20px;
    margin-left: 18px;
    color: #5F6368;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 15px;
}

.options a i{
    padding-left: 4px;
}

.options .active{
    color: #1a73e8; 
}

.options a:nth-child(6){
    margin-left: 16rem;
    
}

.options .button:hover{
    background-color: rgba(218, 214, 214, 0.3);
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#option hr{
    width: 100% !important;
    color: rgb(240, 238, 238) !important;
    overflow: hidden !important;
   
}

.text{
    margin-top: 0.4rem;
    margin-left: 14.7rem;
    color: #70757a;
}

.intro{
    display: flex;
    margin-left: 14.7rem;
    margin-top: 2rem;
}

.name{
    font-size: 1.8rem;
}

.career{
    color: #838282;
}

.selection{
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.selection a{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #E2EEFF ;
    margin-left: 2px;  
}

.selection a:nth-child(1){
    border: 1px solid #73adff
}


.collection{
  
    margin-left: 14.7rem !important;
    padding-right: 14.7rem !important;
}

.column{
    float: left;
    padding-right: 100px;
    height: 310px;
}

.left{
    width: 50%;
    
}

.middle {
    width: 25%;
}

.grid{
    display: grid;
    grid-template-columns: 250px 150px;
    grid-template-rows:  150px;
    
}

.grid .leftrow{
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}


.grid .right_upper{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.grid  .right_lower{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.leftrow .image img{
    width: 300px;
    height:321px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.right_upper .image img{
    width: 220px;
    max-height: 180px;
    position: relative;
    left: 3.5rem;
    border-top-right-radius: 25px;
}
.right_lower .image img{
    max-width: 230px;
    max-height: 280px;
    position: relative;
    left: 3.5rem;
    top: 2.2rem;
    border-bottom-right-radius: 25px;
}

.leftrow .title{
    position: relative;
    bottom: 35px;
    left: 16px;
    color: white;
    font-size: 13px;
}

.right_lower .title{
    position: relative;
    bottom: 4px;
    left: 16rem;
}

.right_lower .title i{
   color: white;
}


.middle .card{
    width: 250px ;
    height: 330px;
    border-radius: 15px ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    bottom: 20px;
}

.card img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 155px;
}

.card-tirle i{
      position: relative;
      color: white;
      bottom: 6.5rem;
      font-size: 2rem;
      left: 7.5rem;
}

.card-time a{
    position: relative;
    color: white;
    bottom: 3.5rem;
    font-size: 15px;
    right: 1.5rem;
}

.card-content{
    
}