*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 4.5rem !important;
}

.brand-logo{
    right: 79rem !important;   
}

.brand-logo img{
   width: 120px;
   height: 60px;
   margin-top: 5px;
}

.right{
    position: relative;
    left: 15rem !important;
}

li a i{
    color: black;
}